@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Welcome in Git vs GitHub Session </h1>
    <p>This project s created to do practice of Git & Github tools</p>
</div>
